
{% extends 'layout.html' %}

{% block title %}Your Trip{% endblock %}

{% block content %}


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class = "container">
		<div class = "navbar-header">
			<a class = "navbar-brand" href = "/"> <span class = "glyphicon glyphicon-globe"> </span>
			Trip Planner</a> 

		<div class="btn-group" role="group" aria-label="...">
  			<button type="button" class="btn btn-default">Home</button>
  			<button type="button" class="btn btn-default">About</button>
  			<button type="button" class="btn btn-default">Contact</button>
		</div>
			<!-- <a class = ></a>
			<a></a>
			<a></a> -->


		</div>
	</div>
</nav>

    <div class="section-colored text-center">

      <div class="container">

      <div class = 'col-md-4'>
      THIS IS A DIV
      </div>

      </div><!-- /.container -->

    </div><!-- /.section-colored -->


{% endblock %}